/* Written in top down order */
:root {
  --cursor-color: grey;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Parkinsans", sans-serif;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%236082bd' fill-opacity='0.47' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");  
  overflow: auto;
}

.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
  width: 100%;
}

.header .icons {
  display: flex;
  width: 150px;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.header .github {
  width: 40px;
  height: 40px;
  margin-top: 10px;
}

.header .mail {
  width: 40px;
  height: 50px;
  margin-top: 10px;
}

.header .linkedIn {
  width: 40px;
  height: 40px;
  margin-top: 10px;
}

.header .github:hover,
.header .mail:hover,
.header .linkedIn:hover {
  transform: scale(1.2);
  opacity: 0.8;
  cursor: pointer;
}

.introduction {
  display: flex;
  flex-direction: column;
  color: #022b3a;
  min-height: 90vh;
  width: 100vw;
}

.introduction .title {
  margin-top: 10vh;
  justify-content: center;
  align-items: center;
  display: inline-block;
}

/* The steps value is not counting a period if I add one later*/
.introduction .title .text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  /* These top 2 only for styling*/
  font-size: 3em;
  letter-spacing: 2px;
  
  /* These bottom ones for animation*/
  border-right: 5px solid;
  overflow: hidden;
  white-space: nowrap;
  animation: 
    typing 2s steps(30),
    blink .9s step-end infinite;
}

.webm-text-split{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.programmer {
  width: 300px;
  height: auto;
}

.about-me {
  display: flex;
  flex-direction: column;
  height: 300px;
  position: relative;
  justify-content: center;
  gap: 20px;
}

.about-me .i-am-a {
  font-size: 2em;
}

.about-me .developer {
  font-size: 3em;
  transform: translateX(-20px);
  animation: fadeInText 2s 4s forwards;
}

.about-me .graduate {
  font-size: 3em;
  transform: translateX(-20px);
  animation: fadeInText 4s 4s forwards;
}

.about-me .aboutMe {
  font-family: "Parkinsans", sans-serif;
  margin-left: 20px;
  white-space: normal;
  opacity: 0;
  transform: translateX(-20px);
  animation: fadeInText 2s 4s forwards;
  max-width: 400px;
}

.tech-stack {
  margin-top: 20px;
  overflow: hidden;
  height: var(--height);
  white-space: nowrap;
  width: 75%;
  margin-left: 15%;
  mask-image: linear-gradient(
    to right,
    transparent,
    #000 10% 90%,
    transparent
  );
}

.tech-stack-slide {
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
}

/* width: 40px
   height: 40px
   quantity: 9 */
.tech-stack img {
  height: var(--width);
  width: var(--height);
  position: absolute;
  left: 100%;
  animation: autoRun 10s linear infinite;
  animation-delay: calc( (10s / var(--quantity)) * (var(--position) - 1));
}

.tech-stack:hover img {
  animation-play-state: paused!important;
}

.footer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  width: 100%;
}

.footer .scroll {
  margin-bottom: 5px;
}

/* animation stuff down here */
@keyframes drawLine {
  to {
    height: 90px;
    opacity: .4;
  }
}

@keyframes fadeInText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes cursor {
  50% { border-color: transparent}
}

@keyframes typing {
  from { width: 0 }
  to { width: 100%};
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}