/* Written in top down order */
:root {
  --cursor-color: grey;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "ocr-a-std", monospace;
  background-color: #2d2d30;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23e5e5e5' fill-opacity='0.1'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  overflow: auto;
}

@media screen and (max-width: 1920px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 1485px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 990px) {
  html {
    font-size: 8px; 
  }
}

@media screen and (max-width: 495px) {
  html {
    font-size: 5px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 100%;
}

.header .icons {
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-top: 1rem;
}

.header .github {
  width: 2rem;
  height: 2rem;
}

.header .mail {
  width: 3rem;
  height: 3rem;
}

.header .linkedIn {
  width: 2rem;
  height: 2rem;
}

.header .github:hover,
.header .mail:hover,
.header .linkedIn:hover {
  transform: scale(1.2);
  opacity: 0.8;
  cursor: pointer;
}

.introduction {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  height: 100rem;
  width: 100vw;
}

.introduction .title {
  width: fit-content;
  display: inline-block;
  justify-content: center;
  align-items: center;
  height: 10%;
}

/* The steps value is not counting a period if I add one later*/
.introduction .title .text {
  width: fit-content;
  /* These top 2 only for styling*/
  font-size: 2rem;
  letter-spacing: .5rem;
  
  /* These bottom ones for animation*/
  border-right: .5rem solid;
  overflow: hidden;
  white-space: nowrap;
  animation: 
    typing 2s steps(30),
    blink .9s step-end infinite;
  text-align: left;
}

.webm-text-split{
  border-radius: 50px;
  display: flex;
  height: 50%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.programmer {
  width: 20rem;
  height: auto;
}

.about-me {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  justify-content: center;
  gap: 20px;
}

.about-me .i-am-a {
  font-size: 2em;
}

.about-me .developer {
  font-size: 3em;
}

.about-me .graduate {
  font-size: 3em;
}

.about-me .aboutMe {
  margin-left: 20px;
  white-space: normal;
  max-width: 400px;
}

.tech-stack {
  position: relative;
  display: flex;
  padding-top: 10%;
  overflow: visible;
  height: 10%;
  width: 70%;
  white-space: nowrap;
}

/* width: 40px
   height: 40px
   quantity: 9 */
.tech-stack img {
  height: var(--width);
  width: var(--height);
  position: absolute;
  left: 100%;
  animation: autoRun 10s linear infinite;
  animation-delay: calc( (10s / var(--quantity)) * (var(--position) - 1));
}

.tech-stack:hover img {
  animation-play-state: paused!important;
}

.arrow-scroll {
  position: relative;
  height: 10%;
}

.arrow {
  margin-top: 8em;
  border: solid white;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 12px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: 
    translateX(-50%)
    rotate(45deg);
}

.arrow:nth-child(2) {
  animation:
    arrow1 1.5s
    ease-in-out infinite;
}

.arrow:nth-child(3) {
  animation:
    arrow2 1.5s
    ease-in-out infinite;
}

.nebulAPIDemo {
  width: 60rem;
  height: auto;
}

.projects {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  height: 50rem;
  width: 100vw;
}

/* animation stuff down here */
@keyframes drawLine {
  to {
    height: 90px;
    opacity: .4;
  }
}

@keyframes fadeInText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes cursor {
  50% { border-color: transparent}
}

@keyframes typing {
  from { width: 0 }
  to { width: 100%};
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}

@keyframes arrow1 {
  100% {
    opacity: 0;
    top: 100%;
  }
}

@keyframes arrow2 {
  100% {
    opacity: 0;
    top: 50%;
  }
}